<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">



    <bean id="school" class="com.lucas.School">
        <property name="name" value="清华大学"></property>
        <property name="address" value="海淀区"></property>
    </bean>

    <bean id="stu" class="com.lucas.Student">
        <property name="name" value="zhangsan"></property>
        <property name="no" value="23"></property>
        <property name="school" ref="school"></property>
    </bean>
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>








</beans>

